.row{
  margin: 0;
}
.navbar-default{
  width: 100%;
  background-color : #d6c5bc ;
  height: 60px;
}
.post{
  width: 95%;
  min-height: 100px;
  padding: 10px;
  background-color:   #e5deda ;
  margin: 0;
  font-family:courier;
  border: 1px solid #e3e3e3;
  border-radius: 10px;

}
.comment{
  width: 89%;
  left: 0;
  padding: 10px;
  background-color:  #f9e4db ;
  margin: 0 auto;
  font-family:courier;
  min-height:30;
  display: block;
  border-radius: 10px;
}

#middlesection{
  min-height: 525px;
  background-color: #f6eae4;
  border: 1px solid #e3e3e3;
  padding: 20px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #e7e7e7;
    color: #663300;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.description{
  width: 95%;
  min-height: 300px;
  padding: 10px;
  background-color: #f5f4a6  ;
  margin: 0;
  font-family:courier;
  border: 1px solid #e3e3e3;
  border-radius: 20px;

}
.name{
  font-size: 25px;
  font-family: timesnewroman;
  color:  #411208;
}
hr{
  border-top :1px solid #411208;
}
.postmain{
  width: 95%;
  min-height: 70px;
  padding: 10px;
  background-color:   #e5deda ;
  margin: 0;
  font-family:courier;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
}
.descriptionmain{
  width: 95%;
  min-height: 300px;
  padding: 10px;
  background-color: #f5f4a6  ;
  margin: 0;
  font-family:courier;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
}
.descriptionsearch{
  width: 95%;
  min-height: 100px;
  padding: 10px;
  background-color: #f5f4a6  ;
  margin: 0;
  font-family:courier;
  border: 1px solid #e3e3e3;
  border-radius: 20px;
}
